*.py[co]
*~
.#*

/venv
/build
/dist
/*.egg-info
/.sconsign.dblite

# Packages
/*.egg
/*.egg-info
/dist
/build
/eggs
/parts
/develop-eggs
.installed.cfg

# Installer logs
/pip-log.txt

# Unit test / coverage reports
/.coverage
/.tox
/nosetests.xml

# Translations
*.mo

# Mr Developer
/.mr.developer.cfg
/.project
/.pydevproject
